<launch>

  <arg name="node_name" default="fback_flow" />
  <arg name="camera" default="cam" doc="The camera topic. Should be remapped to the name of the real camera topic." />
  <arg name="debug_view" default="false" doc="Specify whether the node displays a window to show edge image" />

  <!-- nodelet manager --> 
  <node pkg="nodelet" type="nodelet" name="orb_slam_2_nodelet"  args="manager"/>

  <!-- rotate -->
  	<!--
  	<node pkg="image_rotate" type="image_rotate" name="front_camera_rotate">
		<remap from="image" to="$(arg camera)/image_raw" />
		<remap from="rotated/image" to="$(arg camera)/image_rotated"/>
		<param name="target_frame_id" value="camera" />
		<param name="target_x" value="0.0" />
		<param name="target_y" value="0.0" />
		<param name="target_z" value="0.0" />
		<param name="source_frame_id" value="camera" />
		<param name="source_x" value="0.0" />
		<param name="source_y" value="0.0" />
		<param name="source_z" value="0.0" />
		<param name="input_frame_id" value="camera" />	
	    <param name="output_frame_id" value="camera" />
	    <param name="max_angular_rate" value="0.0" />
	    <param name="output_image_size" value="0.0" />	
    </node>
-->    

  <!-- rectify -->
  <node pkg ="nodelet" type="nodelet" name="image_proc_rect_orb_slam_2" args="load image_proc/rectify orb_slam_2_nodelet" output="screen">
    <remap from="image_mono"  to="$(arg camera)/image_raw"/>
    <remap from="camera_info" to="$(arg camera)/camera_info"/>
    <remap from="image_rect"  to="$(arg camera)/image_rect"/>
  </node>

</launch>
